
<section id="arguments" class="arguments">
  <p class="arguments-smallTitle">остались сомнения?</p>
  <h2 class="arguments-title">
    <span>Пара аргументов</span> в сторону Tomaatti
  </h2>
  <div class="argumentFirst">
    
      <div class="argumentOne">
      <div class="argumentOne-one">
        <img src="./images/technoImg.png" alt="" class="argumentOne-one-img" />
        <img 
          src="./images/argOneIcon.png" 
          alt=""
          class="argumentOne-one-icon"
        />
        <h2 class="argumentOne-one-title">Универсальность и технологичность</h2>
        <p class="argumentOne-one-text">
          Наша технология позволяет отслеживать покупки и наличие товара в
          аппарате в реальном времени. Менять цены, а так же устраивать акции.
        </p> 
      </div>
    </div>
     
    
    <div class="two-thre">
      <div class="argumentTwo">
        <div class="argumentTwo-two">
          <img src="./images/clock.png" alt="" class="argumentTwo-two-img" />
          <img
            src="./images/argTwoIcon.png"
            alt=""
            class="argumentTwo-two-icon"
          />
          <h2 class="argumentTwo-two-title">Работает 24/7</h2>
          <p class="argumentTwo-two-text">
            Вам необходимо только загрузить товар в оборудование и реализация
            будет происходить без вас 24/7.
          </p>
        </div>
      </div>

      <div class="argumentThre">
        <div class="argumentThre-thre">
          <img
            src="./images/argThreIcon.png"
            alt=""
            class="argumentThre-thre-icon"
          />
          <h2 class="argumentThre-thre-title">Надежность</h2>
          <p class="argumentThre-thre-text">
            Гарантийная замена узлов, обновление ПО и бесплатная модернизация
            оборудования.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="argumentSecond"> 
    <div class="firstSec">
      <h2 class="argumentSecond-title">  
        <span>Мы эксперты</span> в своем деле!
      </h2>
      <div class="man">
        <div class="ceo">
          <img src="./images/photo.png" alt="" />
          <div>
            <h3>Самуэль Стерлинг</h3>
            <p>CEO & Founder</p>
          </div>
        </div>
        <h3 class="ceo-text">
          “Наша основная задача упростить связь между производителем и
          покупателем”
        </h3>
      </div>
    </div>
    <div class="secondSec">
      <p>
        Наша команда 17 лет занимается разработками в сфере автоматизации
        торговли и производственных процессов.
      </p>
      <p>
        Мы постоянно работаем над совершенствованием нашего оборудования и
        программного обеспечения.
      </p>
    </div>  

    <img src="./images/teamPhoto.jpg" alt="" class="teamPhoto" />
    <img src="./images/teamPhotoMob.jpg" alt="" class="teamPhotoMob" />
  </div>
</section>
 