<section id="footer" class="footer">
  <div class="footer-section">
    <div class="footer-firstBox">
      <a href="#hero" class="footer-logo"
        ><img src="./images/TomaattiLogoFooter.png" alt="logo"
      /></a>
      <p class="footer-firstBox-text">
        Автоматизированный комплекс по круглосуточной продаже товаров.
      </p>
      <div class="footer-firstBox-icon">
        <a href="#" target="_blank" class="footer-firstBox-icon-for" >
        <svg width="56" height="56">
          <use href="./images/massIcon.svg#icon-instagram"></use>
        </svg></a>
        <a href="#" target="_blank" class="footer-firstBox-icon-for" >
        <svg width="56" height="56">
          <use href="./images/massIcon.svg#icon-telegram"></use>
        </svg></a> 
        <a href="#" target="_blank" class="footer-firstBox-icon-for" >
        <svg width="56" height="56">
          <use href="./images/massIcon.svg#icon-twitter"></use>
        </svg></a>
        <a href="#" target="_blank" class="footer-firstBox-icon-for" >
        <svg width="56" height="56">
          <use href="./images/massIcon.svg#icon-facebook"></use>
        </svg></a>
        <a href="#" target="_blank" class="footer-firstBox-icon-for" >
        <svg width="56" height="56">
          <use href="./images/massIcon.svg#icon-whatsapp"></use>
        </svg></a>
      </div>
    </div>
    <div class="footer-secondBox">
      <p class="footer-secondBox-text">Наш имейл</p>
      <a href="mailto:tomaatti@gmail.com" class="footer-secondBox-link"
        >tomaatti@gmail.com</a
      > 
      <p class="footer-secondBox-text">Номер телефона</p>
      <a href="tel:+11234567890" class="footer-secondBox-link"
        >+1 (123) 456-7890</a
      >
      <p class="footer-secondBox-text">производство</p>
      <a
        href="https://goo.gl/maps/xcE5etLmkJkSq9xPA"
        target="_blank"
        class="footer-secondBox-link"
        >г. Котка, Финляндия</a
      >
    </div>
    <div class="footer-thirdBox">
        <a href="#" class="footer-thirdBox-text">Публичный договор</a>
        <a href="#" class="footer-thirdBox-text">Политика конфиденциальности</a>
    </div>
  </div>
  <div class="footer-down">
    <p class="footer-down-text">@ 2022 Tomaatti. All rights reserved</p>
    <a href="#hero" class="scrollTop">
      <svg class="arrr" width="60" height="60">
        <use href="./images/top-down.svg#icon-arrow_top"></use>
      </svg> 
    </a>
  </div>
</section>
