<section id="function" class="function">
  <p class="smallTitle">Характеристики</p>
  <h2 class="function-title"><span>Функции,</span> технологии и товары.</h2>

  <div class="nav">
    <button class="btn-prev">
      <svg class="btn-next-arr" width="26" height="26">
        <use href="./images/arrowLeft.svg#arrLeft"></use>
      </svg>
    </button>
 
    <div class="nav-tab">
      <button class="nav-tab-btn active">Холодильник</button>
      <button class="nav-tab-btn">Витрина</button>
      <button class="nav-tab-btn">Технология</button>
      <button class="nav-tab-btn">Товары</button>
    </div> 

    <button class="btn-next">
      <svg class="btn-next-arr" width="26" height="26">
        <use href="./images/arrowRight.svg#arrRigh"></use>
      </svg>
    </button>
  </div>
 
    <img src="./images/arch.webp" alt="" class="arch" />
 
  
  <div class="img-wrapper">
    <div class="img-line">
      <img src="./images/firstInfo.png" alt="" class="line-img change" />
      <img src="./images/secondInfo.png" alt="" class="line-img" />
      <img src="./images/thirdInfo.png" alt="" class="line-img" />
      <img src="./images/fourthInfo.png" alt="" class="line-img" />
    </div>
  </div> 
  <div class="slider-wrapper">
    <div class="slider-line">
      
      <div class="line-item change">  
        <div class="info">
          <h3 class="info-name">Холодильник</h3>
          <p class="info-text">
            Покупатель сканирует QR-код, находящийся на холодильнике,
            регистрируется на сайте управления и подключает платежную
            информацию. После регистрации дверь разблокируется. <br />
            <br />
            Система определяет, что взял клиент и автоматически снимает
            стоимость покупки с его счёта.
          </p>
        </div>
      </div>
      <div class="line-item">
        <div class="info">
          <h3 class="info-name">Витрина</h3>
          <p class="info-text">
            Принцип работы умной витрины такой же, как и у холодильника. Ее
            отличие в том, что она идет без компрессора и предназначена для
            продажи товаров не требующих охлажнения.<br />
            <br />
            Также наши интеллектуальные витрины могут продавать не
            продовольственные товары. Это могут быть канцтовары, гигиенические
            средства и многое другое.
          </p>
        </div>
      </div>
      <div class="line-item">
        <div class="info">
          <h3 class="info-name">Технология</h3>
          <p class="info-text">
            В аппарате установлены полки с тензометрическими датчиками. Данная
            технология позволяет со 100% точностью определять, какие конкретно
            товары вынимаются. Товар можно вернуть обратно.<br />
            <br />
            Все, что было взято из витрины моментально отображается в смартфоне
            покупателя. Технология позволяет отслеживать ваши покупки и наличие
            товара в аппарате, менять цены и устраивать акции.
          </p>
        </div>
      </div>
      <div class="line-item">
        <div class="info">
          <h3 class="info-name">Товары</h3>
          <p class="info-text">
            В нашем аппарате вы можете продавать любую упакованную продукцию, а
            также продукты на развес. Для продуктов питания мы предлагаем
            сертифицированное холодильное оборудование.<br />
            <br />
            Для товаров которые не требуют хранение при низкой температуре мы
            предлагаем витрины. На одной полке может размещаться только один вид
            товара.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="dots-wrapper">
    <div class="dot activeDot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="slider-wrapper-name">
      <div class="slider-line-name">
        <p class="line-name change">Витрина</p>
        <p class="line-name">Технология</p>
        <p class="line-name">Товары</p>
        <p class="line-name">Холодильник</p>
      </div>
    </div>
    <img src="./images/Arrow_Right.png" alt="" class="btnR" />
  </div>
</section>
