<section id="header" class="header">
  <a href="#hero" class="logo"
    ><img src="./images/TomaattiLogo.png" alt="logo"
  /></a>
  <!-- <img src="./images/TomaattiLogo.png" alt="logo" class="logo"> -->
  <a href="#how" class="item">Как это работает</a>
  <a href="#function" class="item">Характеристики</a>
  <a href="#why" class="item">Преимущества</a>
  <a href="#example" class="item">Кейсы использования</a>
  <a href="#arguments" class="item">О нас</a>
  <a href="mailto:tomaatti@gmail.com" class="connect">Связаться с нами</a>
</section>
<section id="header" class="burger">
  <div id="nav-icon3">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <a href="#hero" class="logo"
    ><img src="./images/TomaattiLogoHMob.png" alt="logo"
  /></a>

  <a href="mailto:tomaatti@gmail.com" class="connect">Связаться</a>

  <div id="nav-overlay" class="overlay hide">
    <div class="navigation">
      <a href="#how" class="navigation-item">Как это работает</a>
      <a href="#function" class="navigation-item">Характеристики</a>
      <a href="#why" class="navigation-item">Преимущества</a>
      <a href="#example" class="navigation-item">Кейсы использования</a>
      <a href="#arguments" class="navigation-item">О нас</a>
      <div class="navigation-icon">
        <a href="#" target="_blank" class="navigation-icon-for" >
        <svg width="56" height="56">
          <use href="./images/massIcon.svg#icon-instagram"></use>
        </svg></a>
        <a href="#" target="_blank" class="navigation-icon-for" >
        <svg width="56" height="56">
          <use href="./images/massIcon.svg#icon-telegram"></use>
        </svg></a>
        <a href="#" target="_blank" class="navigation-icon-for" >
        <svg width="56" height="56">
          <use href="./images/massIcon.svg#icon-twitter"></use>
        </svg></a>
        <a href="#" target="_blank" class="navigation-icon-for" >
        <svg width="56" height="56">
          <use href="./images/massIcon.svg#icon-facebook"></use>
        </svg></a>
          
      </div>
    </div>
  </div>
</section>
