<section id="hero" class="hero">
  

  <p class="first">покупайте или арендуйте</p>
  <h1 class="title"><span>Лидирующие</span> смарт витрины на рынке</h1>
  <p class="second">
    Автоматизированный комплекс по круглосуточной продаже своих товаров
  </p>

  <a href="#footer" class="scrollDown">
    <svg class="arrr" width="60" height="60">
      <use href="./images/top-down.svg#icon-arrow_down"></use>
    </svg> 
    <p>Скролл вниз</p>
  </a>
  <img src="./images/greenBg.png" alt="greenBg" class="greenBg" />
</section>
  