<section id="how" class="howItWork">
    <h2 class="titleHow"><span>Как</span> это работает?</h2>
<ul class="list">
    <li class="card"><img src="./images/first.png" alt="" class="card-icon"><div><h2>Отсканируй QR код</h2><p>Просто отсканируй QR-код, зарегистрируйся по ссылке и привяжи свою банковскую карту</p></div></li>
    <li class="card"><img src="./images/second.png" alt="" class="card-icon"><div><h2>Сделай свой выбор</h2><p>Датчики определяют твой выбор и автоматически списывают стоимость с банковской карты</p></div></li>
    <li class="card"><img src="./images/third.png" alt="" class="card-icon"><div><h2>Наслаждайся покупкой!</h2><p>Технология позволяет продавать любой упакованный товар</p></div></li>
</ul>
</section> 