<section id="why" class="why">
  <p class="smallWhyTitle">Преимущества</p>
  <h2 class="why-title">Почему именно <span>Tomaatti?</span></h2>
  <p class="why-text">
    Tomatti - это простой и доступный технологический инструмент который
    помогает увеличить продажи, расширить рынок сбыта и уменьшить валовые
    расходы
  </p>
  <div>
    <div class="why-item">
      <div class="why-item-one">
        <img src="./images/whyOneIcon.png" alt="" class="why-item-one-icon" />
        <h2 class="why-item-one-title">Доступная цена</h2>
        <p class="why-item-one-text">
          <span>Tomatti</span> сочетает в себе доступную цену и хорошее качество
        </p>
        <img src="./images/whyOne.png" alt="" class="why-item-one-img" />
      </div>

      <div class="why-item-two">
        <img src="./images/whyTwo.png" alt="" class="why-item-two-img" />
        <img src="./images/whyTwoIcon.png" alt="" class="why-item-two-icon" />
        <h2 class="why-item-two-title">Панель управления</h2>
        <p class="why-item-two-text">
          Простое использование с помощью админ панели
        </p>
      </div>
    </div>
    <div class="why-item">
      <div class="why-item-small">
        <img
          src="./images/whySmallOneIcon.png"
          alt=""
          class="why-item-small-icon"
        />
        <h2 class="why-item-small-title">Stripe аккаунт</h2>
        <p class="why-item-small-text">
          Позволяет получать деньги напрямую, на банковский счёт
        </p>
      </div>
      <div class="why-item-small">
        <img
          src="./images/whySmallTwoIcon.png"
          alt=""
          class="why-item-small-icon"
        />
        <h2 class="why-item-small-title">Экономия</h2>
        <p class="why-item-small-text">
          Выгодная экономия на зарплате сотрудников
        </p>
      </div>
      <div class="why-item-small">
        <img
          src="./images/whySmallThreIcon.png"
          alt=""
          class="why-item-small-icon"
        />
        <h2 class="why-item-small-title">Рост продаж</h2>
        <p class="why-item-small-text">
          Технологичный инструмент увеличивающий продажи
        </p>
      </div>
    </div>
  </div>
</section>
